.employee-card-header {
  border-bottom: 1px solid grey;
}
.employee-reports {
  margin-left: 10px;
}

.direct-reports {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.report-name {
  width: 250px;
  display: inline-block;
}
.reports-content {
  margin-left: 10px;
  margin-top: 10px;
}
