<mat-card class="employee">
  <mat-card-header>
    <mat-card-title>
      {{ employee.firstName }} {{ employee.lastName }}, {{ employee.position }}
    </mat-card-title>
    <mat-card-subtitle>
      <span>Employee ID: {{ employee.id }}</span>
      <span class="employee-reports"
        >Reports: {{ getReportingEmployees() }}</span
      >
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="reports-content">
    <div>Direct Reports:</div>
    <div *ngFor="let directEmp of getDirectReports()">
      <span class="report-name"
        >{{ directEmp.firstName }} {{ directEmp.lastName }},
        {{ directEmp.position }}</span
      >
      <button mat-button color="primary" (click)="onEdit(directEmp)">
        Edit
      </button>
      <button mat-button color="primary" (click)="onDelete(directEmp)">
        Delete
      </button>
    </div>
  </mat-card-content>
</mat-card>
